* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  line-height: 1.5;
}

body {
  color: $text-gray-dark;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .9rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: $text-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding-left: 2em;
}

code {
  font-family: Consolas, Menlo, Courier, monospace;
}

input[type=search] {
  @extend .py-1;
  @extend .px-3;
  @extend .border-gray-light;
  @extend .text-gray;
  @extend .text-x_small;
  outline: none;
  border-radius: 999em;
}
