.button {
  @extend .py-2;
  @extend .px-4;
  @extend .text-small;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 999em;
  border-color: $text-gray;
  color: $text-gray;

  &-blue {
    border-color: $text-blue;
    color: $text-blue;
  }

  &-green {
    border-color: $text-green;
    color: $text-green;
  }

  &-gray-light {
    border-color: $text-gray-light;
    color: $text-gray-light;
  }

  &-disabled {
    border-color: $text-silver;
    color: $text-silver;
  }

  &-transparent {
    border-color: $text-white;
    color: $text-white;
  }

  &.button-small {
    @extend .py-0;
    @extend .px-3;
    @extend .text-x_small;
    line-height: 22px;
  }

  &-circle {
    width: 32px;
    padding: 0;
    border-radius: 100%;
    line-height: 30px;
    text-align: center;

    &.button-small {
      width: 24px;
      padding: 0;
      line-height: 22px;
    }
  }
}
