.button {
  @extend .py-2;
  @extend .px-4;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 999em;
  border-color: $text-gray;
  color: $text-gray;
  font-size: .8rem;
  text-decoration: none;

  &-blue {
    border-color: $text-blue;
    color: $text-blue;
  }

  &-green {
    border-color: $text-green;
    color: $text-green;
  }

  &-gray-light {
    border-color: $text-gray-light;
    color: $text-gray-light;
  }

  &-disabled {
    border-color: $text-silver;
    color: $text-silver;
  }

  &-transparent {
    border-color: $text-white;
    color: $text-white;
  }

  &-small {
    @extend .py-0;
    @extend .px-3;
    @extend .text-x_small;
    padding-top: 1px;
    line-height: 21px;
  }

  &-circle {
    width: 32px;
    padding: 1px 0 0;
    border-radius: 100%;
    line-height: 29px;
    text-align: center;

    &.button-small {
      @extend .px-0;
      @extend .pb-0;
      width: 24px;
      line-height: 21px;
    }
  }
}
