.label {
  @extend .px-2;
  @extend .border-radius;
  @extend .bg-gray;
  @extend .text-gray;
  @extend .text-x_small;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;

  .count {
    @extend .ml-1;
    @extend .text-gray-light;
    @extend .text-x_small;
  }
}
