.m {
  &-0 { margin: $space-0; }
  &-1 { margin: $space-1; }
  &-2 { margin: $space-2; }
  &-3 { margin: $space-3; }
  &-4 { margin: $space-4; }
  &-5 { margin: $space-5; }
  &-6 { margin: $space-6; }
  &-7 { margin: $space-7; }
}

.my {
  &-0 { margin-top: $space-0; margin-bottom: $space-0; }
  &-1 { margin-top: $space-1; margin-bottom: $space-1; }
  &-2 { margin-top: $space-2; margin-bottom: $space-2; }
  &-3 { margin-top: $space-3; margin-bottom: $space-3; }
  &-4 { margin-top: $space-4; margin-bottom: $space-4; }
  &-5 { margin-top: $space-5; margin-bottom: $space-5; }
  &-6 { margin-top: $space-6; margin-bottom: $space-6; }
  &-7 { margin-top: $space-7; margin-bottom: $space-7; }
}

.mx {
  &-auto { margin-right: auto; margin-left: auto; }
  &-0 { margin-right: $space-0; margin-left: $space-0; }
  &-1 { margin-right: $space-1; margin-left: $space-1; }
  &-2 { margin-right: $space-2; margin-left: $space-2; }
  &-3 { margin-right: $space-3; margin-left: $space-3; }
  &-4 { margin-right: $space-4; margin-left: $space-4; }
  &-5 { margin-right: $space-5; margin-left: $space-5; }
  &-6 { margin-right: $space-6; margin-left: $space-6; }
  &-7 { margin-right: $space-7; margin-left: $space-7; }
}

.mt {
  &-0 { margin-top: $space-0; }
  &-1 { margin-top: $space-1; }
  &-2 { margin-top: $space-2; }
  &-3 { margin-top: $space-3; }
  &-4 { margin-top: $space-4; }
  &-5 { margin-top: $space-5; }
  &-6 { margin-top: $space-6; }
  &-7 { margin-top: $space-7; }
}

.mr {
  &-0 { margin-right: $space-0; }
  &-1 { margin-right: $space-1; }
  &-2 { margin-right: $space-2; }
  &-3 { margin-right: $space-3; }
  &-4 { margin-right: $space-4; }
  &-5 { margin-right: $space-5; }
  &-6 { margin-right: $space-6; }
  &-7 { margin-right: $space-7; }
}

.mb {
  &-0 { margin-bottom: $space-0; }
  &-1 { margin-bottom: $space-1; }
  &-2 { margin-bottom: $space-2; }
  &-3 { margin-bottom: $space-3; }
  &-4 { margin-bottom: $space-4; }
  &-5 { margin-bottom: $space-5; }
  &-6 { margin-bottom: $space-6; }
  &-7 { margin-bottom: $space-7; }
}

.ml {
  &-0 { margin-left: $space-0; }
  &-1 { margin-left: $space-1; }
  &-2 { margin-left: $space-2; }
  &-3 { margin-left: $space-3; }
  &-4 { margin-left: $space-4; }
  &-5 { margin-left: $space-5; }
  &-6 { margin-left: $space-6; }
  &-7 { margin-left: $space-7; }
}
