.text {
  &-white {
    color: $text-white;
  }

  &-silver {
    color: $text-silver;
  }

  &-gray-light {
    color: $text-gray-light;
  }

  &-gray {
    color: $text-gray;
  }

  &-gray-dark {
    color: $text-gray-dark;
  }

  &-large {
    font-size: 1.1rem;
  }

  &-normal-size {
    font-size: 1rem;
  }

  &-small {
    font-size: .9rem;
  }

  &-x_small {
    font-size: .8rem;
  }

  &-normal-weight {
    font-weight: normal;
  }

  &-bold {
    font-weight: bold;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-middle {
    vertical-align: middle;
  }
}
